[Unit]
Description=Elasticsearch
Requires=network.target
After=network.target

[Service]
Type=simple
User={{ elastic_user }}
Group={{ elastic_group }}
Restart=on-failure
ExecStart={{ elasticsearch_dest }}/bin/elasticsearch
LimitNOFILE={{ elasticsearch_max_open_files_hard_limit|int }}

[Install]
WantedBy=multi-user.target
